$color: #2755c2;
.container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 12px 0;
  background-color: #fff;
  z-index: 999;
}

.active {
  border-bottom: 1px solid $color;
  a {
    color: $color;
  }
}

.headerNav {
  height: 100%;
  display: flex;
  align-items: center;
  li {
    height: 100%;
    line-height: 40px;
  }
}

.headerSelet {
  background-color: #f5f6fa;
  .ant-select-selector {
    border-radius: 0 !important;
    background-color: transparent !important;
  }
}
.right {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.headerButton {
  padding: 5px 12px;
  height: 32px;
  background: #f5f6fa;
  border-radius: 4px 4px 4px 4px;
  font-size: 14px;
  background-color: #f5f6fa;
  color: $color;
}

.avatar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 30px;
  cursor: pointer;
  img {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
  div {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
