.main {
  margin-top: 64px;
  .banner {
    position: relative;
    width: 100%;
    height: 876px;
    .bg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .design {
      position: absolute;
      top: 652px;
      left: 291px;
      width: 240px;
      height: 64px;
      background: linear-gradient(135deg, #2755c2 0%, #5782da 100%);
      border-radius: 4px 4px 4px 4px;
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
      line-height: 64px;
      text-align: center;
      z-index: 123;
      cursor: pointer;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 200px;
        height: 32px;
        content: '';
        background: linear-gradient(135deg, #2755c2 0%, #5782da 100%);
        filter: blur(32px);
        z-index: -1;
      }
    }
    .down {
      position: absolute;
      top: 832px;
      left: 0;
      right: 0;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .content {
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;
    .select {
      display: flex;
      justify-content: center;
      li {
        margin: 0 10px;
        padding: 8px 20px;
        height: 40px;
        border-radius: 4px 4px 4px 4px;
        color: #616266;
        cursor: pointer;
        &.active {
          border: 1px solid #2755c2;
          background: #f5f6fa;
          color: #2755c2;
        }
      }
    }
    .desc {
      h4 {
        margin: 80px 0 20px;
        font-size: 32px;
        height: 48px;
        line-height: 48px;
        color: #2755c2;
        span {
          color: #f0b00e;
        }
      }
      p {
        width: 400px;
        font-size: 20px;
        color: #616266;
        line-height: 30px;
      }
      .hint {
        margin: 10px 0 0;
        line-height: 24px;
        color: #919499;
      }
      .line {
        margin-top: 90px;
        width: 98px;
        height: 8px;
        background: url('../../assets/TDS-course/division_icon.png') no-repeat
          center center;
      }
    }
    .backgroundColor {
      display: flex;
      margin: 40px 0 80px;
      justify-content: space-between;

      .right {
        width: 800px;
        height: 450px;
      }
    }
    .stone {
      display: flex;
      margin-bottom: 80px;
      justify-content: space-between;

      .left {
        width: 800px;
        height: 450px;
      }
    }
  }
  .lookSaveProduct {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
    .right {
      width: 800px;
      height: 450px;
    }
  }
  .callCompany {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
    .left {
      width: 800px;
      height: 450px;
    }
  }
}
