.container {
  margin: 40px auto;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  .tag {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
  }
  .caseList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
