.main {
  margin-top: 64px;
  .detail {
    display: flex;
    padding: 40px;
    margin: 10px 0 40px;
    width: 100%;
    height: 392px;
    background: url('../../../assets/enterprise/detail-bg.png') no-repeat center
      center;
    background-size: auto;
    .left {
      margin-right: 80px;
      width: 332px;
      h3 {
        margin-bottom: 20px;
        height: 26px;
        font-size: 20px;
        color: #303133;
        line-height: 26px;
      }
      .desc {
        margin-bottom: 20px;
        font-size: 14px;
        color: #616266;
        line-height: 18px;
        max-height: 162px;
        overflow: hidden;
      }
      p {
        margin-bottom: 20px;
        padding-left: 18px;
        font-size: 14px;
        color: #616266;
        line-height: 18px;
        &.address {
          background: url('../../../assets/enterprise/icon_mian_dingwei.png')
            no-repeat center left;
        }
        &.phone {
          background: url('../../../assets/enterprise/icon_mian_dianhua.png')
            no-repeat center left;
        }
        &.email {
          background: url('../../../assets/enterprise/icon_mian_youjian.png')
            no-repeat center left;
        }
      }
    }
    .right {
      width: 778px;
      height: 312px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
