.container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin: 40px auto;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  .componentsBox {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  .pagination {
    width: 100%;
    text-align: center;
  }
}
